<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maabara Mkononi</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <header></header>
    <h1>Karibu Maabara Mkononi</h1>
    <h2>Huduma za maabara kiganjani kwako</h2>
    <p>Sasa unaweza kupata huduma za Maabara Ukiwa popote ulipo kupitia simu yako <br>
    Download Maabara Mkononi App from Google Play Store and App Store</p>
    <footer> 2024 Mkufu Technologies<br> All Rights Reserved</footer>
</body>
</html>